@import "../../variables";

.Minigame.Wingspan {
  .game {
    gap: 10px;
    padding: 10px;
    .bird {
      position: relative;
      grid-column: span 2;
      border: $border-thick;
      border-radius: $border-radius-standard;
      padding: 1px;

      // Parent Grid Properties
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1px;
      justify-content: center;
      justify-items: center;
      align-content: center;
      align-items: center;
      text-align: center;

      .featherImage {
        grid-column: span 3;
        width: 60px;
        height: 60px;
      }

      span {
        position: absolute;
        grid-column: span 3;
        font-size: 3em;
        align-self: start;
      }

      .inputResourceContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1fr;
        input {
          border-radius: $border-radius-standard;
        }
      }
    }
  }
}
