@import "../../variables";

.minigameHeader {
  grid-column: span 6;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}

.minigameSelector {
  position: absolute;
  top: 2em;
  z-index: 3;
  background: white;
  width: 95%;
  border: $border-standard;
  border-radius: $border-radius-standard;
  box-shadow: $shadow-standard;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
}

.minigameOption {
  grid-column: span 1;
  font-size: 16px;
  border: $border-standard;
  width: 100%;
  height: 100%;
  padding: 15px;

  &:nth-of-type(1) {
    border: none;
  }
  &:nth-of-type(2) {
    border-top: none;
    border-bottom: none;
  }
  &:nth-of-type(3) {
    border: none;
  }
  &:nth-of-type(4) {
    border-left: none;
    border-right: none;
  }
  &:nth-of-type(6) {
    border-left: none;
    border-right: none;
  }
  &:nth-of-type(7) {
    border: none;
  }
  &:nth-of-type(8) {
    border-top: none;
    border-bottom: none;
  }
  &:nth-of-type(9) {
    border: none;
  }
}

.duplicate {
  color: red;
}
