@import "../../variables";

.appContainer {
  padding: 5px;
  display: grid;
  gap: 10px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-self: baseline;

  .subheader {
    grid-column: 1/2;
    display: none;
  }

  .footer {
    grid-column: 1/2;
  }
}

@media (min-width: $tablet-width) {
  .appContainer {
    grid-template-columns: repeat(2, 1fr);
    width: $tablet-app-width;
    margin: 0 auto;

    .subheader {
      grid-column: 1/2;
    }

    .footer {
      grid-column: 1/2;
    }
  }
}

@media (min-width: $desktop-width) {
  .appContainer {
    grid-template-columns: repeat(3, 1fr);
    width: $max-app-width;
    margin: 0 auto;
  }
}
