// Breakpoint choices taken from Bootstrap site: https://getbootstrap.com/docs/4.1/layout/overview/#responsive-breakpoints
// Two other sizes can be found there if these three aren't best
// Extra small devices (portrait phones, less than 576px)

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.appContainer {
  padding: 5px;
  display: grid;
  gap: 10px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  .header {
    grid-column: 1/2;
    display: none;
  }

  .subheader {
    grid-column: 1/2;
    display: none;
  }

  .footer {
    grid-column: 1/2;
  }
}

button {
  background: none;
  outline: none;
  border: none;
}

img {
  width: 20px;
  height: 20px;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .appContainer {
    grid-template-columns: repeat(2, 1fr);
    .header {
      grid-column: 1/2;
    }

    .subheader {
      grid-column: 1/2;
    }

    .footer {
      grid-column: 1/2;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .appContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
