// Breakpoint choices taken from Bootstrap site: https://getbootstrap.com/docs/4.1/layout/overview/#responsive-breakpoints
// Two other sizes can be found there if these three aren't best
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default
button {
  background: none;
  outline: none;
  border: none;
}

img {
  width: 30px;
  height: 30px;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}
