@import "../../variables";

.resource {
  display: flex;
  align-items: center;
  justify-content: center;
  &.cost > span {
    font-size: 1.2em;
    text-shadow: 0.5px 0.5px 1.5px black;
    position: relative;
    left: 0.25ch;
    color: rgb(200, 25, 25);
  }
  .firstResource {
    position: relative;
    left: 5px;
  }
  .secondResource {
    position: relative;
    top: 3px;
    right: 5px;
  }
}
