@import "../../variables";

.dieButton {
  display: flex;
  align-items: center;
  justify-content: center;

  .dieImage {
    border-radius: $border-radius-standard;
    &.marked {
      background-color: black;
    }
  }

  &.grape {
    display: grid;
    grid-template-areas: "dieOverlayGrape";
    .grapeImage {
      grid-area: dieOverlayGrape;
    }
    .dieImage {
      grid-area: dieOverlayGrape;
    }
  }
}
