.ResourceGrid {
  display: grid;
  grid-template-areas: "ResourceGrid";

  .resource {
    grid-area: ResourceGrid;
    width: 50px;
    height: 50px;
  }
  .resourceGridOverlay {
    grid-area: ResourceGrid;
    width: 50px;
    height: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    .resourceQuadrant {
      &.topLeft {
        &.marked {
          background-color: black;
        }
      }
      &.topRight {
        &.marked {
          background-color: black;
        }
      }
      &.bottomLeft {
        &.marked {
          background-color: black;
        }
      }
      &.bottomRight {
        &.marked {
          background-color: black;
        }
      }
    }
  }
}
