.ResourceDie {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;

  .dieButton {
    z-index: 2;
  }

  .resource {
    position: relative;
    top: -3px;
    &.cost {
      top: 3px;
    }
  }

  &.grapeDie {
    .resource {
      position: relative;
      top: -10px;
      &.cost {
        top: 10px;
      }
    }
  }
}
