.ResourceDie {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;

  .dieButton {
    z-index: 2;
  }

  .resource {
    position: relative;
    top: -8px;
    &.cost {
      top: 7px;
    }
  }
}
