@import "../../variables";

.Minigame {
  grid-column: 1/2;
  border: $border-standard;
  border-radius: $border-radius-standard;
  width: $minigame-width;
  height: $minigame-width;
  padding: 5px;
  position: relative;
  z-index: 1;
  // overflow-y: scroll;
  box-sizing: border-box;

  // Parent Grid Styles
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
  align-items: center;

  p {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .Minigame {
    grid-column: span 2;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}
