@import "../../variables";

.Minigame {
  grid-column: span 1;
  border: $border-thick;
  border-radius: $border-radius-standard;
  width: $minigame-width;
  height: $minigame-width;
  padding: 5px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;

  // Parent Grid Styles
  display: grid;
  grid-template-columns: repeat(6, 51px);
  grid-template-rows: 30px 70px 156px 50px;
  justify-items: center;
  align-items: center;

  p {
    grid-column: span 6;
    font-size: 0.75em;
    text-align: center;
    margin: 0;
  }

  .game {
    grid-column: span 6;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    gap: 0 5px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .Minigame {
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}
