.RoundTracker {
  grid-column: 1/2;
  border: 1px black solid;
  border-radius: 5px;
  height: calc(100vw - 10px);
  overflow-y: scroll;

  // Grid
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;

  .roundNumber {
    grid-column: span 2;
  }

  .roundTotal {
    grid-column: span 2;
    width: 15px;
  }

  .starIcon {
    grid-column: span 2;
  }

  .turn {
    grid-column: span 2;
    p {
      display: inline;
    }
    input {
      width: 15px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .RoundTracker {
    grid-column: span 6;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}
