@import "../../variables";

.RoundTracker {
  grid-column: span 1;
  border-radius: $border-radius-standard;
  border: $border-standard;
  width: $minigame-width;
  height: fit-content;
  overflow-y: scroll;
  position: sticky;
  z-index: 2;
  top: 38px;
  background: white;
  padding: 3px;
  box-shadow: $shadow-standard;

  // Grid
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 5px;

  .roundScore {
    grid-column: span 2;
    border: $border-thick;
    border-radius: $border-radius-standard;
    padding: 0px 5px 5px 5px;

    // Grid
    display: grid;
    grid-template-columns: 1fr, 1fr;

    h3 {
      grid-column: span 2;
      margin: 5px 0px;
      white-space: nowrap;
    }

    input.roundTotal {
      border: none;
      border-bottom: $border-thick;
      width: 5ch;
      height: 1.3em;
      grid-column: span 1;
      justify-self: right;
    }

    .starIcon {
      width: 30px;
      height: 30px;
      grid-column: span 1;
    }
  }

  .turnTracker {
    grid-column: span 4;
    width: 100%;

    display: grid;
    gap: 2px;
    grid-template-columns: repeat(3, 1fr);

    .turn {
      display: flex;
      width: 100%;

      input {
        width: 45%;
        padding: 2px;

        &:nth-of-type(1) {
          border-top-left-radius: $border-radius-standard;
          border-bottom-left-radius: $border-radius-standard;
        }
        &:nth-of-type(2) {
          border-top-right-radius: $border-radius-standard;
          border-bottom-right-radius: $border-radius-standard;
          border-left: none;
        }
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .RoundTracker {
    width: $minigame-width;
    height: $minigame-width;
    position: static;
    box-shadow: none;
    border: $border-thick;
  }
}

@media (min-width: $desktop-width) {
}
