.betweenTwoCastlesC {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50%;
    margin: -10px auto 0;
    .castle {
      display: grid;
      border: none;
    }
    .castle1 {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      width: 120px;
      height: 160px;
    }
    .castle2 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      width: 80px;
      height: 160px;
    }
    img {
      width: 25px;
      height: 25px;
      max-width: 100%;
    }
    div {
      border: 1px solid black;
      display: inline-flex;
      &.no-border {
        border: none;
      }
      .rewards {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .overlay {
          position: absolute;
          -webkit-filter: drop-shadow(1px 1px 0 black);
          filter: drop-shadow(0px 1px 0 black);
          left: 40%;
        }
      }
    }
    input {
      border: none;
      width: 100%;
      height: 100%;
      padding: 0;
      outline: none;
      font-size: 17px;
      text-align: center;
    }
    div.door {
      background: lightgray;
      img {
        margin: auto;
      }
    }
}
p.margin20 {
  margin-top: 20px;
}
