.roundC {
  display: grid;
  grid-column: span 3;
  grid-template-columns: 2.75fr 0.5fr repeat(4, 1.5fr);
  margin: 10px;
  padding: 5px 0;
  border: 2px solid black;
  border-radius: 5px;

  .turnsC {
    display: flex;
    position: relative;
    .sideways {
      font-family: 'Pathway Gothic One', sans-serif;
      font-weight: 600;
      font-size: 24px;
      transform: rotate(-90deg);
      transform-origin: 0 0;
      position: relative;
      text-align: center;
      align-self: center;
      top: 40%;
    }
    .turns {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
      input {
        width: 25px;
        height: 25px;
        border: 1px solid black;
        outline: none;
        text-align: center;
        font-size: 16px;
        padding: 0;
        &.input1 {
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px;
        }
        &.input2 {
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
    }
  }

  .rewards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    img.reward {
      width: 20px;
      height: 20px;
      border: 1px dotted black;
      border-radius: 100%;
      padding: 2px;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
      &.gainedReward {
        border: 2px solid black;
      }
      &.usedReward {
        background: black;
      }
    }
  }

  .roundTotal {
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: 600;
    font-size: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    height: 90%;
    width: 80px;
    margin: auto;
    padding: 0 5px 5px 5px;
    p {
      grid-column: span 2;
      margin-top: 5px;
      font-size: 20px;
    }
    input {
      width: 100%;
      height: 30px;
      border: none;
      border-bottom: 3px solid black;
      outline: none;
      text-align: center;
      font-size: 20px;
      padding: 0;
      z-index: 1;
    }
    img {
      width: 35px;
      height: 35px;
      justify-self: center;
    }
  }
}

aside {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background: white;
  z-index: 2;
  text-align: left;
  &:hover {
    cursor: pointer;
    box-shadow: 3px 3px rgba(168, 168, 168, 0.9);
  }
  & > div {
    display: none;
  }
  &.show > div {
    display: block;
    position: absolute;
    left: -40px;
    top: 0px;
    width: 200px;
    height: 250px;
    background: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    z-index: 3;
    overflow: scroll;
  }
  h4 {
    font-weight: 400;
    margin: auto;
  }
}
