.roundC {
  display: grid;
  grid-column: span 3;
  grid-template-columns: 2.25fr 0.5fr 1fr 0.75fr repeat(3, 1.25fr);
  grid-gap: 5px;
  margin: 10px;
  padding: 5px 0;
  border: 2px solid black;
  border-radius: 5px;

  .turnsC {
    display: flex;
    position: relative;
    .sideways {
      font-family: 'Pathway Gothic One', sans-serif;
      font-weight: 600;
      font-size: 24px;
      transform: rotate(-90deg);
      transform-origin: 0 0;
      position: relative;
      text-align: center;
      align-self: center;
      top: 40%;
    }
    .turns {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
      input {
        width: 25px;
        height: 25px;
        border: 1px solid black;
        outline: none;
        text-align: center;
        font-size: 16px;
        padding: 0;
        &.input1 {
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px;
        }
        &.input2 {
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
    }
  }

  .standardButton {
    font-size: 16px;
    border: 2px solid black;
    background: white;
    box-shadow: 3px 3px rgba(168, 168, 168, 0.9);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    max-width: 55px;
    &:hover {
      box-shadow: 6px 3px rgba(168, 168, 168, 0.9);
      transform: scale(1.01);
    }

    .rolledDie {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }

  .roundTotal {
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: 600;
    font-size: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    height: 90%;
    max-width: 80px;
    margin: auto;
    padding: 0 5px 5px 5px;
    p {
      grid-column: span 2;
      margin-top: 5px;
      font-size: 20px;
    }
    input {
      width: 100%;
      height: 30px;
      border: none;
      border-bottom: 3px solid black;
      outline: none;
      text-align: center;
      font-size: 20px;
      padding: 0;
      z-index: 1;
    }
    img {
      width: 35px;
      height: 35px;
      justify-self: center;
    }
  }

  aside {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20%;
    border: 2px solid black;
    border-radius: 100%;
    background: white;
    box-shadow: 3px 3px rgba(168, 168, 168, 0.9);
    z-index: 2;
    text-align: center;
    margin: auto;
    width: 50%;
    &:hover {
      cursor: pointer;
      box-shadow: 5px 3px rgba(168, 168, 168, 0.9);
      transform: scale(1.01);
    }
    & > .rules {
      display: none;
    }
    &.show > .rules {
      display: block;
      position: absolute;
      left: -123px;
      top: 0px;
      width: 175px;
      height: 250px;
      background: white;
      padding: 10px;
      border: 2px solid black;
      border-radius: 5px;
      z-index: 3;
      text-align: left;
      overflow: scroll;
    }
    h4 {
      font-weight: 400;
      margin: auto;
    }
  }

  .rewards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    img.reward {
      width: 20px;
      height: 20px;
      border: 2px dotted black;
      border-radius: 100%;
      padding: 2px;
      margin: auto;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
      &.gainedReward {
        border: 2px solid black;
      }
      &.usedReward {
        background: black;
      }
    }
  }
}
