.scytheC {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 90%;
  height: 50px;
  margin: auto;
  position: relative;
  top: 10px;

  img {
    position: relative;
    justify-self: center;
    width: 25px;
    height: 25px;
    padding: 5px;
    border: 2px solid black;

    &.topDie {
      border-bottom: none;
      cursor: pointer;
      &:hover {
        background: #eeeeee;
      }
    }

    &.topReward {
      border-top: none;
      background-color: rgba(0, 128, 0, 0.3);
    }

    &.bottomDie {
      border-bottom: none;
      cursor: pointer;
      &:hover {
        background: #eeeeee;
      }
    }

    &.bottomReward {
      border: 2px solid black;
      border-top: none;
      border-bottom: none;
      background-color: rgba(255, 0, 0, 0.3);
    }

    &.star {
      border-top: none;
      background-color: rgba(0, 128, 0, 0.3);
      cursor: pointer;
      &:hover {
        width: 29px;
        height: 29px;
        padding: 3px;
      }
    }
  }
}
