.viticultureC {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr) 2fr;
  width: 95%;
  margin: 0 auto;
  img {
    justify-self: center;
    width: 25px;
    height: 25px;
    &.die {
      padding: 10px;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
      &.gainedGrape {
        background-image: url("../images/grape.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      &.usedGrape {
        background-image: url("../images/crushed-grape.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    &.reward {
      position: relative;
      top: -5px;
    }
  }
  .wineOrder {
    grid-column: span 2;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(197, 170, 148);
    width: 70px;
    margin: 0 auto;
    .wineGlassC {
      position: relative;
      background: none;
      border: none;
      outline: none;
      &:hover {
        transform: scale(1.05);;
      }

      .wineGlass {
        width: 50px;
        height: 50px;
        margin: auto;
        cursor: pointer;
        &.filled {
          background: #943065;
        }
      }

      .wineGlassText {
        position: absolute;
        margin: auto;
        top: 29%;
        left: 33%;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}

.dieButton {
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;
  outline: none;
}
