.birds {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  column-gap: 10px;
  width: 80%;
  margin: 0 auto;

  .bird {
    border: 2px solid black;
    border-radius: 10px;
    width: 83px;
    height: 100px;
    background-image: url("../assets/feather.png");
    background-repeat: no-repeat;
    background-size: 68%;
    background-position: top;
    padding: 0.5px;

    p {
      font-size: 28px;
      font-weight: 600;
      margin: 12px auto;
      width: fit-content;
    }

    .birdCells {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      width: 100%;

      div {
        border: 1px solid black;
        border-radius: 5px;
        margin: 0.5px;

        input.cell {
          width: 100%;
          height: 25px;
          font-size: 14px;
          text-align: center;
          outline: none;
          border-image: none;
          border: none;
          padding: 0;
          border-radius: 5px;
        }
      }

      .reward {
        margin: -8px auto auto auto;
        width: 25px;
        height: 25px;
      }
    }
  }
}
