.birds {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: 0 auto;
  .bird {
    border: 2px solid black;
    border-radius: 10px;
    width: 80px;
    height: 100px;
    background-image: url("/assets/Links/feather.png");
    background-repeat: no-repeat;
    background-size: contain;
    p {
      font-size: 28px;
      font-weight: 600;
      margin: 12px auto;
      width: fit-content;
    }
    div {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
      width: 100%;
      .cell {
        width: 80%;
        height: 20px;
        font-size: 14px;
        text-align: center;
      }
      .reward {
        margin-top: -15px;
        width: 25px;
        height: 25px;
      }
    }
  }
}
