@import "../../variables";

.Minigame.Euphoria {
  .game {
    grid-template-columns: repeat(6, 40px);
    grid-template-rows: repeat(3, 40px) 50px;
    .dieButton {
      border: $border-standard;
      border-radius: $border-radius-standard;
      width: 100%;
      height: 100%;
    }
  }
}
