@import "../../variables";

.Scythe {
  .topReward {
    align-self: end;
  }
  .topDie {
    align-self: start;
  }

  .bottomDie {
    align-self: end;
  }
  .bottomReward {
    display: flex;
    span {
      font-weight: 600;
      text-shadow: black;
      position: relative;
      left: 0.5ch;
      color: rgb(200, 25, 25);
    }
  }
}
