@import "../../variables";

footer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 1em;

  hr {
    width: 100%;
  }

  .githubIcon {
    height: 1em;
    width: auto;
  }
}

@media (min-width: $tablet-width) {
  footer {
    grid-column: span 2;
    font-size: 1.25em;
  }
}

@media (min-width: $desktop-width) {
  footer {
    grid-column: span 3;
    font-size: 1.25em;
    gap: 0.75em;
  }
}

@media print {
  footer {
    display: none;
  }
}
