@import "../../variables";

.Minigame.Viticulture {
  .game {
    .wineOrder {
      grid-column: span 2;
      border: $border-standard;
      border-radius: $border-radius-standard;
      background-color: #c5aa94;
      padding: 10px;

      display: grid;
      grid-template-columns: 1fr 1fr;
      .WineGlass {
        grid-column: span 2;
      }
      .resource {
        grid-column: span 1;
      }
    }
  }
}
