$border-standard: 1px black solid;
$border-dotted: 1px black dotted;
$border-thick: 2px black solid;
$border-thick-dotted: 2px black dotted;

$border-radius-standard: 5px;
$border-radius-circle: 100%;
