$minigame-width: 320px;
$tablet-app-width: calc(#{$minigame-width} * 2);
$max-app-width: calc(#{$minigame-width} * 3);

$tablet-width: calc(#{$tablet-app-width} + 15px);
$desktop-width: calc(#{$max-app-width} + 20px);

$round-margin: 25px;

$border-standard: 1px black solid;
$border-dotted: 1px black dotted;
$border-dashed: 1px black dashed;
$border-thick: 2px black solid;
$border-thick-dotted: 2px black dotted;

$border-radius-standard: 5px;
$border-radius-circle: 100%;

$shadow-standard: 3px 5px 5px rgba(0, 0, 0, 0.2),
  -3px 5px 5px rgba(0, 0, 0, 0.2);
$border-shadow: 0 0 0 1px black;
