body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: 500;
  display: grid;
  grid-template-columns: 0.5fr 1.25fr 5fr 0.5fr;
  width: 900px;
  margin-top: 30px;
  align-items: flex-end;
}

.header div {
  font-size: 16px;
}

.header p {
  font-size: 16px;
  padding: 0 10px;
}

.sm-logo {
  width: 85px;
  height: 80px;
}

.roundTotal {
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: 600;
  font-size: 22px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0 3px 3px 3px;
}
.roundTotal p {
  grid-column: span 2;
  margin-top: 5px;
  font-size: 20px;
}
.roundTotal input {
  width: 30px;
  height: 30px;
  border: none;
  border-bottom: solid 3px black;
  outline: none;
  text-align: center;
  font-size: 20px;
  padding: 0;
}
.roundTotal img {
  width: 35px;
  height: 35px;
}

@media (max-width: 930px) {
  body {
    transform: scale(0.4);
  }
}

.MinigamesC {
  display: grid;
  grid-template-columns: 310px 310px 310px;
  grid-template-rows: 300px 125px 300px 125px 300px 125px;
  text-align: center;
  margin: 30px 0;
}

.Minigame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  flex-basis: 32%;
  position: relative;
  border: 2px solid black;
  border-radius: 5px;
}

.Minigame:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.title {
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  top: -5%;
  position: relative;
  margin-block-end: -15px;
}

.title > span {
  text-transform: none;
}

.roundNumber {
  color: gray;
  width: 30px;
  height: 30px;
  background-color: rgba(168, 168, 168, 0.705);
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roundNumber select {
  border: none;
  border-radius: 50%;
  background: transparent;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: 16px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: '';
  position: relative;
  left: 30%;
  cursor: pointer;
}
.roundNumber select:hover {
  opacity: 0.5;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.Minigame p {
  font-size: 10px;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
}

.no-border {
  border: none;
}
.no-border-top {
  border-top: none;
}
.no-border-bottom {
  border-bottom: none;
}

.stars-row {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 90%;
  height: 25px;
  margin: 0 auto;
  justify-content: center;
  bottom: 5px;
  left: 15px;
}

.stars-row img {
  max-height: 25px;
  max-width: 25px;
  margin: 0 auto;
  cursor: pointer;
}

.stars-row img:hover {
  transform: scale(1.1);
}

.myLittleScytheC {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.myLittleScythe {
  width: 70%;
  height: 100%;
}

.myLittleScythe img {
  width: 30px;
  height: 30px;
  position: relative;
  top: 9px;
}

.usedDie, .usedHexagon {
  background: black !important;
}

p > span {
  color: red;
}

footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background: white;
  z-index: 2;
}

footer:hover {
  cursor: pointer;
  box-shadow: 3px 3px rgba(168, 168, 168, 0.9);
}

footer > div {
  display: none;
}

footer.show > div {
  display: block;
}

.rounds {
  border-right: 2px solid black;
}

.rules {
  margin-left: 5px;
  width: 250px;
}

.rules p {
  font-size: 11px;
  position: relative;
}

.inline-image {
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

.hexagon .die {
  cursor: pointer;
}
.hexagon .die:hover {
  opacity: 0.8;
}

/* HEX GRID */
#grid {
  position: relative;
  width: 100%;
  margin: 0 -10px;
  padding: 0; /* Clears unordered list default of 40px */
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

#grid li {
  list-style-type: none;
  position: relative;
  float: left;
  width: 27.85714285714286%;
  padding: 0 0 32.16760145166612% 0;
  -o-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  overflow: hidden;
  visibility: hidden;
}

#grid li .hexagon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #dddddd;
  filter: black;
  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
}

#grid li * {
  visibility: visible;
}

#grid li:nth-child(2) {
  margin: 0 1%;
}

#grid li:nth-child(3n+2) {
  margin: 0 1%;
}

#grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6) {
  margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

#grid li:nth-child(6n+4) {
  margin-left: 0.5%;
}

#grid li:nth-child(1) .hexagon {
  visibility: hidden;
}
#grid li:nth-child(7) .hexagon {
  visibility: hidden;
}
