body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App {
  position: relative;
  top: 50px;
  margin: 0 auto;
  text-align: center;
  max-width: 1050px;
  max-height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 33.333333%;
  font-size: 10px;
  color: black;
}

.Minigame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  flex-basis: 32%;
  position: relative;
  border: 2px solid black;
  /* background-image: url(/assets/Links/charterstone-box-art.jpg);
  background-position-x: -395px;
  background-position-y: -260px; */
}

.Minigame:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.title {
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  top: -5%;
  position: relative;
  margin-block-end: -15px;
}

.round {
  color: gray;
  width: 30px;
  height: 30px;
  background-color: rgba(168, 168, 168, 0.705);
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  top: 1%;
  right: 1%;
}

.Minigame p {
  font-size: 13px;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
}

.Minigame img {
  /* max-width: 50px; */
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}
td {
  width: 35px;
  height: 35px;
  max-height: 20px !important;
  border: 1px solid black;
  margin: 0;
  padding: 1px;
  position: relative;
}
.no-border {
  border: none;
}
.no-border-top {
  border-top: none;
}
.no-border-bottom {
  border-bottom: none;
}

.med-icon {
  width: 30px;
  height: 30px;
  -webkit-filter: drop-shadow(1px 1px 0 black);
  filter: drop-shadow(0px 1px 0 black);
}
.overlap {
  position: relative;
  z-index: 1;
}
.underlap {
  position: absolute;
  top: 6px;
  left: 16px;
}

.stars-row {
  position: absolute;
  bottom: 0;
  left: 23%;
}
.image-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image-row img {
  max-width: 30px;
  max-height: 30px;
}

.crate {
  position: relative;
}

.image-row.crate img {
  max-width: 40px;
  max-height: 40px;
  margin: 0 -2.5px;
}
.image-row.arrow img {
  padding: 0 2.5px;
}

input[type="number"] {
  width: 90%;
  border: none;
  background: none;
  font-size: 18px;
  text-align: center;
}
input[type="number"]:focus {
  outline: none;
}

.crate input[type="number"] {
  font-weight: 800;
  position: absolute;
  margin-left: 8px;
  bottom: 11px;
  width: 30px;
  height: 30px;
  text-shadow: 0 2px 5px #ffffff, 2px 0 5px #ffffff, -2px 0 5px #ffffff, 0 -2px 5px #ffffff;
}

div.betweenTwoCastles, div.euphoria {
  display: flex;
  flex-direction: row;
}

.tapestry-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.tapestry {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 200px;
}
.tapestry table {
  display: block;
  position: relative;
  margin: 0;
  border-collapse: collapse;
}
.tapestry table.pumpkin::after {
  content: "";
  background: url("/assets/Links/Charterstone_Icon_Pumpkin.png");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
.tapestry table.coin::after {
  content: "";
  background: url("/assets/Links/Charterstone_Icon_Coin.png");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
.tapestry table.heart::after {
  content: "";
  background: url("/assets/Links/heart.png");
  opacity: 0.5;
  top: 10px;
  left: 10px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  width: 70%;
  height: 70%;
  background-repeat: no-repeat;
  background-size: contain;
}
.tapestry td {
  width: 25px;
  height: 25px;
  position: relative;
  z-index: 2;
  border-collapse: collapse;
}
.tapestry-container img {
  max-width: 130px;
}
.tapestry>img {
  width: 20px;
}
.bottom-row {
  position: relative;
  margin: 0 20px;
  right: 10px;
}
.tapestry input {

}

/* HEX GRID */
#grid {
  position: relative;
  width: 60%;
  margin: 0 auto;
  padding: 0; /* Clears unordered list default of 40px */
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

#grid li {
  list-style-type: none;
  position: relative;
  float: left;
  width: 27.85714285714286%;
  padding: 0 0 32.16760145166612% 0;
  -o-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  overflow: hidden;
  visibility: hidden;
}

#grid li .hexagon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #dddddd;
  filter: black;
  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
}

#grid li * {
  visibility: visible;
}

#grid li:nth-child(2) {
  margin: 0 1%;
}

#grid li:nth-child(3n+2) {
  margin: 0 1%;
}

#grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6) {
  margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

#grid li:nth-child(6n+4) {
  margin-left: 0.5%;
}

#grid li:nth-child(1) .hexagon {
  visibility: hidden;
}
#grid li:nth-child(7) .hexagon {
  visibility: hidden;
}
