@import "../../variables";

.RewardTracker {
  grid-column: span 2;
  grid-row: span 2;

  padding: 3px;
  border: $border-thick;
  border-radius: $border-radius-standard;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  button {
    font-weight: 600;
    padding: 0 5px;
  }

  .rewardCount {
    width: 2.3ch;
    text-align: center;
  }
}
