@import "../../variables";

.IconButton {
  display: inline-flex;
  padding: 5px;
  border: $border-thick;
  border-radius: $border-radius-standard;
  background: white;
  margin: 0 5px;

  span {
    margin-left: 0.5em;
  }
}
